
IS_PRODUCTION=
TRADE_MODE=LIVE

ALPACA_API_KEY=
ALPACA_API_SECRET=

ALPACA_PAPER_API_KEY=
ALPACA_PAPER_API_SECRET=

CB_SANBOX_PASS_PHRASE=coinpro
CB_SANBOX_API_SECRET=CM6BZYkVosVSPH1g5x4FdWd2EG5L9CL0sAJatpvx29cMQcokijKqwV0X4aKt47xHQHoFg9iQIq83vPqqPC98lA==
CB_SANBOX_API_KEY=baf566002a9d454978368814b796614d

CB_PASS_PHRASE=coinpro
CB_API_SECRET=CM6BZYkVosVSPH1g5x4FdWd2EG5L9CL0sAJatpvx29cMQcokijKqwV0X4aKt47xHQHoFg9iQIq83vPqqPC98lA==
CB_API_KEY=baf566002a9d454978368814b796614d

BN_API_KEY=
BN_API_SECRET=
